@font-face {
  font-family: 'Monster Pumpkin';
  src: url('MonsterPumpkin.woff2') format('woff2'),
      url('MonsterPumpkin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Eater', 'Permanent Marker', cursive;
  color: orangered;
  text-shadow: 2px 2px blue;
}

body {
  display: flex;
  flex-direction: row;

  margin: 0;
}

body .container {
  height: 100vh;
  box-sizing: border-box;
}

.container-left {
  background-image: url("halloween_pumpkin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;

  display: flex;
  flex-direction: column;
  flex: 1 1 200px;

  justify-content: space-around;
}

.container-left .overlay-text {
  background-color: rgba(60, 60, 100, 0.5);
  /* color: white; */

  flex: 0 1 80px;
  /* margin-top: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
  font-size: 40px;
}

.container-left .image-credit {
  box-sizing: content-box;
  background-color: rgba(60, 60, 100, 0.5);
  /* color: white; */
  /* text-shadow: 1px 1px #000; */

  /* height: 20px; */
  padding: 2px;
  margin-bottom: -80px;
}

.container-left .image-credit a {
  color: inherit;
  text-decoration: underline;
}

.container-right {
  display: flex;
  flex-direction: column;
  flex: 2 0 400px;
}

.container-right .header-container {
  flex: 1 1 0;
}

.container-right .form-container {
  flex: 2 1 0;
}

.container-right .button-container {
  flex: 1 1 0;
}

.container-right .container {
  display: flex;
}

div {
  /* border: 1px solid red; */
}
